MONGO_DB_PASSWD=""
MONGO_DB_USER=""
MONGO_URI=""
JWT_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
PORT=5000
CLOUDINARY_URL=""
ANOTHER_APP_PASSWORD="google app password"
GMAIL_SERVICE_APP_USER='email name for  google app" 